aiohttp
requests
youtube-dl
git+git://github.com/google/chatbase-python.git
Pillow
hachoir
numpy
beautifulsoup4
tgcrypto
PyDrive
Pyrogram
ffmpeg-python
https://github.com/ThorStorage/Pgram/archive/asyncio.zip

